<h1>About</h1>
<p>The Size Distributionizer program allows for drawing and measuring lines on uploaded images. The measurement is based on a separately drawn "scale" line.</p>
<p>This program was created by <a href="https://github.com/GradientVector">John Harvey</a> and <a href="https://www.researchgate.net/profile/Natalia_Da_Silva_Moura">Natalia da Silva Moura</a> to assist with measuring nano-particles produced at the <a href="https://sites01.lsu.edu/faculty/dormangroup/">Dorman Lab</a> at Louisiana State University.</p>
